<div class="card card-body border-0 shadow-sm pb-1 me-lg-1">
  <div class="d-flex d-md-block d-lg-flex align-items-start pt-lg-2 mb-4">
    <img
      class="rounded-circle"
      src="{{ user.profile.url }}"
      width="48"
      alt="{{ user.username }}"
    />
    <div class="pt-md-2 pt-lg-0 ps-3 ps-md-0 ps-lg-3">
      <h2 class="fs-lg mb-0">
        {% if user.first_name %} {{ user.first_name }} {{ user.last_name }} 
        {%else %} {{ user.username }} {% endif %}
      </h2>
      <span class="star-rating"
        ><i class="star-rating-icon fi-star-filled active"></i
        ><i class="star-rating-icon fi-star-filled active"></i
        ><i class="star-rating-icon fi-star-filled active"></i
        ><i class="star-rating-icon fi-star-filled active"></i
        ><i class="star-rating-icon fi-star-filled active"></i
      ></span>
      <ul class="list-unstyled fs-sm mt-3 mb-0">
        <li>
          <a class="nav-link fw-normal p-0" href="tel:{{ user.phone_no }}"
            ><i class="fi-phone opacity-60 me-2"></i>{{ user.phone_no }}</a
          >
        </li>
        <li>
          <a
            class="nav-link fw-normal p-0"
            href="mailto:annette_black@email.com"
            ><i class="fi-mail opacity-60 me-2"></i>{{ user.email }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  {% if user.user_type == 'HO' %}
  <a
    class="btn btn-primary btn-lg w-100 mb-3"
    href="{% url 'add-property-page' %}"
    ><i class="fi-plus me-2"></i>Add property</a>
  {% endif %}
  <a
    class="btn btn-outline-secondary d-block d-md-none w-100 mb-3"
    href="#account-nav"
    data-bs-toggle="collapse"
    ><i class="fi-align-justify me-2"></i>Menu</a>
  <div class="collapse d-md-block mt-3" id="account-nav">
    <div class="card-nav">
      <a class="card-nav-link" href="{% url 'user-account-info-page' %}">
        <i class="fi-user opacity-60 me-2"></i>Personal Info</a>
      <a class="card-nav-link" href="{% url 'user-account-security-page' %}"
        ><i class="fi-lock opacity-60 me-2"></i>Password &amp; Security</a>
      {% if user.user_type == 'HO' %}
      <a class="card-nav-link" href="{% url 'vendor-account-properties-page' %}"
        ><i class="fi-home opacity-60 me-2"></i>My Properties</a>
      {% else %}
        <a class="card-nav-link" href="{% url 'user-account-wishlist-page' %}"
        ><i class="fi-heart opacity-60 me-2"></i>Wishlist</a>
      {% endif %}
      <a class="card-nav-link" href="{% url 'user-account-reviews-page' %}"
        ><i class="fi-star opacity-60 me-2"></i>Reviews</a>
      <a class="card-nav-link" href="{% url 'help-center-page' %}"
        ><i class="fi-help opacity-60 me-2"></i>Help</a>
      <a class="card-nav-link" href="{% url 'sign-out-page' %}"
        ><i class="fi-logout opacity-60 me-2"></i>Sign Out</a>
    </div>
  </div>
</div>
