{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page content-->
      <!-- Page container-->
      <div class="container mt-5 mb-md-4 py-5">
        <!-- Breadcrumb-->
        <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot password</li>
          </ol>
        </nav>
        <!-- Page content-->
        <div class="row justify-content-center">
          <div class="col-lg-11 col-xl-10">
            <!-- Page title-->
            <div class="text-center">
              <h1 class="h2 mb-4">Reset your password</h1>
              <p class=""></p>
            </div>
            <!-- Steps-->
            <div class="bg-light rounded-3 px-md-4">
              <div class="steps pt-4">
                <div class="step active">
                  <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">1</span></div>
                  <div class="step-label">Basic info</div>
                </div>
                <div class="step active">
                  <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">2</span></div>
                  <div class="step-label">Education</div>
                </div>
                <div class="step active">
                  <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">3</span></div>
                  <div class="step-label">Experience</div>
                </div>
                <div class="step">
                  <div class="step-progress"><span class="step-progress-start"></span><span class="step-progress-end"></span><span class="step-number">4</span></div>
                  <div class="step-label">Skills</div>
                </div>
              </div>
            </div>
            <!-- Step 1: Basic Info-->
            <div class="bg-light rounded-3 p-4 p-md-5 mb-3">
              <div class="border-top">
                {% if validlink %}
                  <h3>Change password</h3>
                  <form method="post">
                    {% csrf_token %}
                    <label class="form-label fw-bold py-2 mb-1" for="pr-position">Set new password</label>
                    {{ form.new_password1 }}
                    {% for error in form.new_password2.errors %}
                    <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <label class="form-label fw-bold py-2 mb-1" for="pr-position">Confirm new password</label>
                    {{ form.new_password2 }}
              </div>
            </div>
            <!-- Navigation-->
            <div class="d-flex flex-column flex-sm-row bg-light rounded-3 p-4 px-md-5"><button class="btn btn-primary btn-lg rounded-pill ms-sm-auto" type="submit">Submit<i class="fi-chevron-right fs-sm ms-2"></i></button></div>
            {% else %}
                  <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.
                  </p>
                {% endif %}
        </form>
        </div>
        </div>
      </div>
      {% endblock content %}
